<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-phone"></i><a>
      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/listings">Home</a>
            <a class="nav-link" href="/listings">All Contacts</a>
            <a class="nav-link" href="/listings/new">Add New Contact</a>
        </div>

        <!-- <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div> -->

        <div class="navbar-nav ms-auto">
          <% if(!currUser) { %>
            <a class="nav-link" href="/signup">Sign Up</a>
            <a class="nav-link" href="/login">Log in</a>
          <% } %>  
          <% if(currUser) { %>
            <a class="nav-link" href="/logout">Log out</a>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>